@import "../../index.scss";

.cart-btn {
    cursor: pointer;
  
    margin: 16px 64px 16px 64px ;
}

.btn-div {
    display: flex;
    padding: 24px;
}

.cart-btn:hover {
    transform: scale(1.2);
}


.cart-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.cart-container-product {
    width: 100%;
    max-width: 25%;
    border: double 2px black;
    border-radius: 10px;
    margin-bottom: 10px;
}

.container-cart {
    min-height: 70vh;
}

.ant-collapse-content-box {
    flex-direction: column;
}

.cart-icon {
    height: 160px;
    width: 100px;
    margin-top: 48px;
}

.cart-ref {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    font-size: x-large;

}