@import "../../index.scss";

.cart-btn {
    all: unset;
    cursor: pointer;
    border-radius: 8px;
    background-color: $btn-color;
    border: $border-btn;
    margin: 10px;
    transition: 2s;
}

.btn-div {
    display: flex;
    padding: 24px;
}
.cart-btn:hover {
    transform: scale(1.2);
}


.cart-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.cart-container-product {
    width: 100%;
    max-width: 25%;
    border: double 2px black;
    border-radius: 10px;
    margin-bottom: 10px;
}

.container-cart{
    min-height: 80vh;
}

.ant-collapse-content-box{
    flex-direction: column;
}

