@import "../../index.scss";

.add-btn {
  cursor: pointer;
  margin: 6px;
  transition: 1s;
}

.add-btn:hover {
  transform: scale(1.2);
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  width: 25%; 
  padding: 10px;
  border: solid 1px black;
  margin: 16px 16px 16px 72px;
}

@media screen and (max-width: 768px) {
  .product {
    width: 50%;
    
  }
}

@media screen and (max-width: 480px) {
  .product {
    width: 100%;
  }
}

.product-images{
  width: 106px;
  height: 172px;
}