.profile-container{
    min-height: 80vh;
    justify-content: center;
    display: flex;
}

.card-container{
    margin-top: 48px;
    margin-right: 10px;
}



.ant-collapse-content-box{
    flex-direction: column;

}

.ant-collapse-item {
    margin-left:16px;
}

.ant-collapse {
    margin-left: 32px;
}

.profile-icon{
    width: 64px;
    height: 64px;
}

.icon-profil-no-orders{
    height: 64px;
    width: 64px;
}