@import "../../index.scss";

header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  border-bottom: solid 2px black;
}

.nav-container {
  background: $backgroun-color-header;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;

  .div-navbar{
    background: $backgroun-color-header;
  }

  div {
    display: flex;
    gap: 10px;
  }

  a {
    all: unset;
    cursor: pointer;
    border-radius: 8px;
  }

  a:hover {
    transform: scale(1.1);
    background-color:$hoover-btn-color;
  }
}