@import "../../index.scss";

header {
  background: $backgroun-color-header;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  border-bottom: solid 2px black;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;

  div {
    display: flex;
    gap: 15px;
  }

  a {
    all: unset;
    cursor: pointer;
    transition: 1s;
  }

  a:hover {
    transform: scale(1.2);
  }
  a:not(:hover) {
    transform: scale(1);
  }
}

.img-logo {
  margin: 12px;
  animation: rotate 2s infinite alternate;
}

@keyframes rotate {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}