$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-color:rgba(17, 18, 18, 0.87);
$backgroun-color-principal:#f7f0f0;
$backgroun-color-header:linear-gradient(to right, transparent, mistyrose);
$btn-color: rgba(255, 228, 225, 0.468);
$hoover-btn-color: antiquewhite;
$border-btn: solid 1px black;


:root {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $font-color;
  // background-color: #777272;

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* -webkit-text-size-adjust: 100%; */
}

body{
  margin: 0;
}